.future-levels-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.future-level {
  background: #181818;
  border-radius: 12px;
  box-shadow: 0 2px 8px #000a;
  padding: 1rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.future-level-thumb {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.future-level-info h2 {
  margin: 0 0 0.7rem 0;
  font-size: 1.3rem;
  color: #fff;
}

.future-level-info p {
  margin: 1.0rem 0;
  color: #ccc;
}